*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #020617);
    color:white;
    min-height:100vh;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:30px 0;
}

header{
    text-align:center;
    padding:30px;
}

.profile-pic{
    width:220px;
    height:220px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid #00ff88;
    box-shadow:0 0 30px #00ff88;
    transition:0.4s;
}

.profile-pic:hover{
    transform:scale(1.05);
}

h1{
    margin-top:20px;
    font-size:3rem;
    color:#00ff88;
}

h3{
    margin-top:10px;
    color:#cbd5e1;
}

.card{
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius:20px;
    padding:25px;
    margin:25px 0;
    transition:0.4s;
}

.card:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px rgba(0,255,136,0.3);
}

h2{
    color:#00ff88;
    margin-bottom:15px;
}

p{
    line-height:1.8;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#00ff88;
    color:black;
    padding:10px 20px;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.skills span:hover{
    transform:scale(1.1);
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#00ff88;
    color:black;
}

table th,
table td{
    border:1px solid #555;
    padding:12px;
    text-align:center;
}

.project{
    background:#111827;
    padding:15px;
    margin:15px 0;
    border-radius:12px;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:12px 25px;
    background:#00ff88;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px #00ff88;
}

footer{
    text-align:center;
    padding:30px;
    color:#94a3b8;
}

/* Mobile Responsive */

@media(max-width:768px){

    h1{
        font-size:2rem;
    }

    .profile-pic{
        width:180px;
        height:180px;
    }

    .skills{
        justify-content:center;
    }
 }    